<html lang="en">
  <head>
    <link rel="stylesheet" href="/css/index.css" />
    <title>NODEJS ABOUT PAGE</title>
  </head>
  <body>
    {{>header}}
    <img src="./naruto.jpeg" alt="Naruto" />
    <h2> My name is {{userName}}. I am {{role}} having 2 years of experience</h2>
   {{>footer}}
  </body>
</html>