<html lang="en">
  <head>
    <link rel="stylesheet" href="/css/index.css" />
    <title>TODO</title>
    <link rel="icon" href="./naruto.jpeg"/>
   </head>
  <body>
    {{!-- PARTIALS --}}
    {{>header}}
    Use this site to get TODO List 
    
    <form>
        <input type="text" placeholder="User Id" id="user-id">
        <input type="submit" name="Search" id="" value="Search">
    </form>

    {{!-- PARTIALS --}}
   {{>footer}}
    <script src="/js/index.js"></script>
  </body>
</html>